.newbar{
    float: right;
}

.collect{
    font-size: small;
    color: indianred;
    float: right;
}



.itemcov{
    float:left;
    padding-bottom: 20px;
}


.ellipsis {

overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
white-space: normal;
}