/* .code_show { */
/* 	text-align: center; */
/*   overflow: hidden; */
/* } */
/* .code_show span { */
/*   display: block; */
/*   float: left; */
/*   margin-bottom: 10px; */
/* } */
/* .code_show a { */
/*   display: block; */
/*   margin-top: 10px; */
/*   margin-left: 10px; */
/* } */
.code {
  font-style: italic;
  background-color: #f5f5f5;
  color: blue;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: bolder;
  float: left;
  cursor: pointer;
  padding: 0 5px;
  text-align: center;
}
#inputCode {
  width: 60px;
  height: 25px;
}
a {
  text-decoration: none;
  font-size: 10px;
  color: #288bc4;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}