<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>BookWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<!--   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">   -->
<!--     <property name="defaultEncoding" value="utf-8"/>   -->
<!--     最大記憶體大小   -->
<!--     <property name="maxInMemorySize" value="10240"/>   -->
<!--     最大檔案大小,-1為不限制大小   -->
<!--     <property name="maxUploadSize" value="-1"/>   -->
<!--     </bean>   -->
  
</web-app>